---
layout: base
title: Home
permalink: '/'
heading: Adventuring in data land
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
        I'm Alexander Sutcliffe, an experience data all-rounder based in Berlin, Germany. I've worked in the data space for over fifteen years and am currently focused on using dbt to build data solutions that scale.
    </p> 
    <p>For those who like acronyms, here's a list of the technologies I work with most often:

        <ul>
            <li>dbt</li>
            <li>Big Query / Snowflake / Postgres etc</li>
            <li>Python</li>
            <li>Airflow</li>
        </ul>
    </p>
    <p>
        And here are some things I am enjoy playing around with:
        <ul>
            <li>Static Site Generators</li>
            <li>Maps and GIS data</li>
        </ul>

        I also used to work a lot with a niche database called TM1 but don't do that anymore, one day I might write about why...
    </p>

    <p>
        I've worked on data projects for startups, and huge multinationals, but still sometimes yearn for my formative years behind a counter at a suburban video store. Although I no longer work in the "film industry", I can still often be found with a camera in hand. 
    </p>

    <p>Check out my stuff on <a href="{{ site.githubUrl }}">GitHub</a> or hit me up on <a href="{{ site.linkedInUrl }}">LinkedIn</a></p>

</article>
