---
layout: base
title: Home
permalink: '/'
heading: Who is this guy anyway?
---

<article>
    <h1>
        {{ heading }}
    </h1>
    <p>
    I don't think I'll be able to answer this as well as <a href="https://www.youtube.com/watch?v=ysfG4Bt79tY&list=OLAK5uy_nLH-vdFsZSlYI_NkEK0wJq3GSaw9o9wcI&index=16">Lee Hazlewood</a> but I'll try...
    I'm Alexander Sutcliffe, an experience data all-rounder based in Berlin, that's the one in Germany by the way, not New Hampshire.
    </p>
    <p>
        I've worked for 15+ years on data projects for startups, and multinationals, but still sometimes yearn for my formative years in the film industry (working at a suburban video store). </p>

    <p>
        I also used to work a bit with this niche database called TM1 but don't do that anymore. One day I might write about why but there are plenty of open source toys to keep me busy
    </p>

    <h1>
        So what is this all about?
    </h1>

    <p>
    I sporadically get the urge to write about some of the geeky stuff I'm working on. If nothing else, it helps me <i>really</i> understand what I've done. It isn't always  
    </p>

    <p>
        If you want buzzwords, here's my current toolset:

        <ul>
            <li>dbt</li>
            <li>Airflow</li>
            <li>Big Query / Snowflake / Postgres etc</li>
            <li>Python</li>
        </ul>
    </p>
    <p>
        I also get pretty enthusiastic about things like:
        <ul>
            <li>Static Site Generators</li>
            <li>Maps and GIS data</li>
            <li>Cricket Stats</li>
        </ul>
    </p>
    <h1>
        Still want to learn more?
    </h1>


    <p>Check out my stuff on <a href="{{ site.githubUrl }}">GitHub</a> or hit me up on <a href="{{ site.linkedInUrl }}">LinkedIn</a>. I also take photos sometimes with <a href="https://www.instagram.com/properly_scrambld/">mixed results</a>.</p>


</article>
